@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
/* font-family: 'Poppins', sans-serif; */
/* font-family: 'Quicksand', sans-serif; */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  /* Background Color */
  --bg-black:#090b3c;
  --bg-white:#fff;
  --bg-light-white:#fcfcfc;
  --bg-light-2:#f2f7fa;
  --bg-dark-green:#0e9d80;
  --bg-features-1:#fff6d6;
  --bg-features-2:#ebdcf9;
  --bg-features-3:#ddf5fc;
  --bg-features-4:#dcf6e8;
  --bg-features-5:#f8e4e1;
  --bg-features-6:#fbffd4;

  /* Text Color */
  --text-black:#000;
  --text-white:#fff;
  --text-dark-gray:#4c535d; 
  --text-light-2:#798089;
  --text-light-3:#5e5e72;
  --text-light-4:#A0A0A0;
  --text-dark-green:#12c4a0;
  --text-orange:#ff5d2a;
  --text-yellow:#ffc100;

  /* Fonts */
  --primary-font: 'Quicksand', sans-serif;
  --secondary-font: 'Poppins', sans-serif;
  --normal-font-weight:400;
  --bold-font-weight:700;
}

body{
  font-family:var(--primary-font);
  font-weight: var(--normal-font-weight);
  background-color: var(--bg-white); 
}
/* custom css */
.learn-more-btn{
    background-color:var(--bg-black);
    font-size: 18px; 
    font-weight: 700;
    color: var(--text-white) !important;
    padding: 12px 29px !important;
    border-radius: 10px;
    border: 2px solid var(--bg-black);
    box-shadow: 0 10px 20px rgb(0 0 0 10%); 
    display: inline-block !important;
    text-decoration: none;
    transition: 0.7s;
}
.extra-btn-header{
  color: var(--text-dark-gray) !important;
  background-color: transparent;
  border: 2px solid var(--text-dark-gray);
}

/* Navbar start */
.header-warper .navbar{
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -ms-transition: all .2s linear;
  transition: all .2s linear;
}
.header-warper .navbar-brand img{
  max-width: 210px;
  height: auto;
}
.header-warper .menu-navbar-nav{
  width: 70%;
  display: flex;
  justify-content: center;
}
.header-warper .nav-item{
  margin: 0px 10px;
}
.header-warper .nav-link{
  font-weight: var(--bold-font-weight);
  font-size: 18px;
  color: var(--text-dark-gray);
  line-height: 1;
}
.header-warper .nav-item .nav-link.active{
  color: var(--text-dark-green);
}
.header-scrolled{
  position: fixed;
  margin-top: 0;
  top: 0;
  left: 0;
  background: var(--bg-white);
  width: 100%;
  height: 85px;
  -webkit-box-shadow: 0 4px 6px 0 rgba(12, 0, 46, .05);
  box-shadow: 0 4px 6px 0 rgba(12, 0, 46, .05);
}
.header-scrolled .navbar-brand img{
  width: 190px;
  height: auto;
  animation: animated 0.1s ease-in-out;
}
@keyframes animated{
  0%{
    width: 210px;
  }
  50%{
    width: 200px;
  }
  100%{
    width: 190px;
  }
}
.header-scrolled .nav-item .nav-link{
  font-size: 17px;
}

/* banner */
.banner-warper{
  background-image: url(../images/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0 125px;
}
.banner-warper .banner-subtitle{
  font-size: 24px;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 15px;
  color: var(--text-light-2);
}
.banner-warper .banner-title{
  font-size: 60px;
  font-family: var(--secondary-font);
  font-weight: 800;
  line-height: 1.15;
  text-transform: capitalize;
  margin-bottom: 25px;
  color: var(--text-black);
}
.banner-warper .banner-title span{
  color: var(--text-dark-green);
}
.banner-warper .banner-title-text{
  font-size: 17px;
  font-weight: 600;
  line-height: 1.5;
  color: var(--text-light-2);
  max-width: 450px;
  margin-bottom: 40px;
}
.banner-warper .learn-more-btn-section{
  display: flex;
  justify-content: left;
  align-items: center;
  margin-top: 20px;
}
.banner-warper .header-img-section img{
  width: 100%;
  animation: float 4s ease-in-out infinite;
}
@keyframes float{
  0%{
    transform: translateY(0px);
  }
  50%{
    transform: translateY(20px);
  }
  100%{
    transform: translateY(0px);
  }
}

/* clients */
.clients{
  background-color: var(--bg-light-2);
  padding: 80px 0 50px;
}
.clients h2{
  font-family: var(--secondary-font);
  font-size: 25px;
  font-weight: 500;
  line-height: 1.15;
  margin-bottom: 40px;
  color: var(--text-light-2);
}
.client-slider-section .item{
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.client-slider-section img{
  width: auto !important;
  height: 50px;
  object-fit: cover;
}
/* about */
.about-warper{
  padding: 100px 0 0;
}
.about-warper .about_number{
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 24px;
  color: var(--text-white);
  background-color: var(--bg-dark-green);
  max-width: 44px;
  border-radius: 10px;
  padding: 4px 17px;
  margin-bottom: 25px;
}
.about-warper .about_title{
  font-family: var(--secondary-font);
  font-size: 34px;
  font-weight: 800;
  max-width: 1000px;
  color: var(--text-black);
  line-height: 1.15;
  margin-bottom: 25px;
}
.about-war.brand_warper .about_text{ 
  font-size: 15px;
  font-weight: 600;
  line-height: 1.7;
  max-width: 700px;
  color:var(--text-light-2);
}
.about-warper .inovate{
  padding: 80px 0px;
  background-color: var(--bg-light-2);
}
.about-warper .projects{
  padding: 30px 0px !important;
}
.about-warper .projects h2{
  color: var(--text-orange);
  font-family: var(--secondary-font);
  font-size: 50px;
  font-weight: 800;
  line-height: 1.15;
  margin-bottom: 0;
}
.about-warper .projects p{
  font-size: 17px;
  font-weight: 600;
  line-height: 1.5;
  color: var(--text-light-2);
}

/* features */
.features-warper{
  padding: 100px 0 80px;
  background-color: var(--bg-light-2);
}
.features-warper .features_subtitle{
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 5px;
  color: var(--text-light-2);
}
.features-warper .features_title{
  font-family: var(--secondary-font);
  font-size: 34px;
  font-weight: 800;
  line-height: 1.25;
  margin-bottom: 25px;
  color: var(--text-black);
}
.features-warper h3{
  font-family: var(--secondary-font);
  font-size: 20px;
  font-weight: var(--bold-font-weight);
  color: var(--text-black);
  line-height: 1.5;
  margin-bottom: 20px;
}
.features-warper p{
  font-size: 15px;
  font-weight: 600;
  line-height: 1.5;
  color: var(--text-light-2);
}
.features-warper .ft-1{
  background-color: var(--bg-features-1);
  padding: 40px;
  border-radius: 10px;
}
.features-warper .ft-1:before{
  content: url("../images/consultancy.png");
  position: absolute;
  display: block;
  margin-top: -70px;
}
.features-warper .ft-2{
  background-color: var(--bg-features-2);
  padding: 40px;
  border-radius: 10px;
}
.features-warper .ft-2:before{
  content: url("../images/solutions.png");
  position: absolute;
  display: block;
  margin-top: -70px;
}
.features-warper .ft-3{
  background-color: var(--bg-features-3);
  padding: 40px;
  border-radius: 10px;
}
.features-warper .ft-3:before{
  content: url("../images/simple.png");
  position: absolute;
  display: block;
  margin-top: -70px;
}
.features-warper .ft-4{
  background-color: var(--bg-features-4);
  padding: 40px;
  border-radius: 10px;
}
.features-warper .ft-4:before{
  content: url("../images/deadline.png");
  position: absolute;
  display: block;
  margin-top: -70px;
}
.features-warper .ft-5{
  background-color: var(--bg-features-5);
  padding: 40px;
  border-radius: 10px;
}
.features-warper .ft-5:before{
  content: url("../images/data.png");
  position: absolute;
  display: block;
  margin-top: -70px;
}
.features-warper .ft-6{
  background-color: var(--bg-features-6);
  padding: 40px;
  border-radius: 10px;
}
.features-warper .ft-6:before{
  content: url("../images/flexible.png");
  position: absolute;
  display: block;
  margin-top: -70px;
}

/* pricing */
.pricing-warper{
  padding: 100px 0 0;
}
.pricing-warper .pricing_subtitle{
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  color: var(--text-light-3);
}
.pricing-warper .pricing_title{
  font-family: var(--secondary-font);
  font-size: 34px;
  font-weight: 800;
  line-height: 1.15;
  margin-bottom: 25px;
  color: var(--text-black);
}
.pricing-warper .pricing-card{
  background-color: var(--bg-white);
  box-shadow: 0 1px 20px rgb(0 0 0 / 15%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 40px 45px 40px;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 30px;
}
.pricing-warper .pricing-card:hover{
  box-shadow: 0 2px 29px rgb(0 0 0 / 20%);
  z-index: 5;
  cursor: pointer;
}
.pricing-warper .pricing-period{
  font-family: var(--secondary-font);
  font-size: 18px;
  font-weight: 600;
  line-height: 1.15;
  color: var(--text-light-2);
}
.pricing-warper .pricing-card img{
  max-width: 75%;
}
.pricing-warper .pricing_rate{
  font-size: 34px;
  font-weight: 800;
  font-family: var(--secondary-font);
  line-height: 1.25px;
  color: var(--text-black);
  margin: 20px 0;
}
.pricing-warper .pricing_text {
  font-size: 12px;
  font-family: var(--secondary-font);
  font-weight: 600;
  color:var(--text-black);
  margin-top: 10px;
}
.pricing-warper .pricing_all_plan{
  text-align: center;
  width: 100%;
  margin: 15px 0;
}
.pricing-warper .pricing_all_plan ul{
  width: 100%;
  list-style: none;
  padding-inline-start: 0;
}
.pricing-warper .pricing_all_plan li {
  font-size: 14px;
  color: var(--text-dark-gray); 
  font-weight: 500;
  line-height: 1.25;
  text-align: center;
  margin-top: 5px;
}
.pricing-warper .pricing_all_plan li strike {
  color:var(--text-light-4);
}
.pricing-warper .learn-more-btn{
  background-color: var(--bg-dark-green);
  border: var(--bg-dark-green);
}
.pricing-warper .featured{
  box-shadow: 0 2px 40px rgb(0 0 0 / 5%);
  background-color: var(--bg-white);
  border: 5px solid var(--text-black);
  padding: 80px 0;
}
.pricing-warper .pricing_ribbon{
  width: 120px;
  height: 120px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 20;
}
.pricing-warper .pricing_ribbon span{
  font-family: var(--secondary-font);
  position: absolute;
  width: 225px;
  display: block;
  padding: 5px 0;
  background-color: var(--bg-black);
  color: var(--text-white);
  font-size: 15px;
  font-weight: 600;
  text-shadow: 0 1px 1px rgb(0 0 0 / 20%);
  text-align: center;
  text-transform: uppercase;
  top: 30px;
  right: -45px;
  transform: rotate(-45deg);
}
.pricing-warper .btn-featured{
  background-color: var(--bg-black);
  border-color: var(--bg-black);
}
.pricing-warper .featured .pricing_rate{
  font-size: 40px;
}
.free-trail{
  background-color: var(--bg-light-2);
  padding: 80px 0 !important;
}
.free-trail .free_title{
  font-family: var(--secondary-font);
  font-size: 34px;
  font-weight: 800;
  color: var(--text-black);
  line-height: 1.15;
}
.free-trail .learn-more-btn{
  background-color: var(--bg-black);
  border-color: var(--bg-black);
}
.free-trail .learn-more-btn .fa{
  font-size: 22px;
  margin-right: 5px;
  color: var(--text-yellow);
  vertical-align: bottom;
}
/* reviews */
.testimonial-warper{
  padding:100px 0;
}
.testimonial-warper .testimonials_subtitle{ 
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 5px;
  color: var(--text-light-3);
}
.testimonial-warper .testimonials_title{
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 34px;
  line-height: 1.25;
  margin-bottom: 80px;
  color:var(--text-black);
}
.testimonial-warper .testimonials_card{
  border-radius: 15px;
  padding: 50px;
  background-color: var(--bg-white);
  box-shadow: 0 5px 40px rgb(0 0 0 / 15%); 
} 
.testimonial-warper h3{
  font-family: var(--secondary-font);
  font-size: 24px;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 5px;
  color: var(--text-black);
}
.testimonial-warper .testimonials_role{ 
  font-size: 19px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 25px;
  color: var(--text-dark-green);
}
.testimonial-warper .testimonials_text{ 
  font-size: 15px;
  font-weight: 600;
  line-height: 1.5; 
}

/* brands */
.brand_warper{
  padding:100px 0;
  background:var(--bg-light-2);
}
.brand_warper .brand_subtitle{ 
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 5px;
  color: var(--text-light-3);
}
.brand_warper .brand_title{
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 34px;
  line-height: 1.25;
  margin-bottom: 25px;
  color: var(--text-black);
}
.brand_warper .showcase_card img{
  width: 100%;
  border-radius: 15px;
  padding: 45px 25px;
  background-color: var(--bg-white);
  box-shadow: 0 5px 40px rgb(0 0 0 / 8%);
  transition: 0.7s;
}
.brand_warper .showcase_card img:hover {
  transform: scale(1.2);
  position: relative;
  z-index: 2;
}
/* faqs */
.faq_warper{
  padding:100px 0 0;
}
.faq_warper .faq_subtitle{ 
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 5px;
  color: var(--text-light-3);
}
.faq_warper .faq_title{
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 34px;
  line-height: 1.25;
  margin-bottom: 25px;
  color: var(--text-black);
}
.faq_warper .accordion-button:hover,
.faq_warper .accordion-button:focus{
  box-shadow: none !important;
  color:var(--text-dark-green);
}
.faq_warper .accordion-item{
  border: 0;
}
.faq_warper .accordion-button{
  font-size: 21px;
  font-family: var(--secondary-font);
  font-weight: 600;
  color: var(--text-black);
  background-color: var(--text-white);
  border-radius: 0;
  padding: 0 0 15px 0;
  border-bottom: 1px solid var(--text-light-3);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.faq_warper .accordion-button::after{
  content:'\002B';
  font-family: "Font Awesome 5 Free";
  font-weight: 800;
  display: inline-block;
  background-image: none;
}
.faq_warper .accordion-button:not(.collapsed)::after{
  content:"\2212";
  font-family: "Font Awesome 5 Free";
  font-weight: 800;
  display: inline-block;
  background-image: none;
  transform:unset;
}
.faq_warper .accordion-body{
  color: var(--text-black); 
  font-size: 15px;
  font-weight: 600;
  margin: 0 0 20px 0;
  padding-bottom: 25px;
  line-height: 1.5; 
}

/* footer */
.footer_warper{
  padding-top: 100px;
  padding-bottom: 25px;  
  background: url(../images/bg_footer.png) no-repeat;
  background-size: cover;
  background-color: var(--bg-black);
  color: var(--text-white);
}
.footer_warper .footer_logo img{
  max-width: 30%; 
}
.footer_warper .footer_text,
.footer_warper .footer_text a{ 
  margin-top:30px;
  color: var(--text-white);
  font-size: 15px;
  font-weight: 600;
  line-height: 1.5;
  text-decoration: none;
}
.footer_warper .footer_title{
  font-family: var(--secondary-font);
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  color: var(--text-white);
  margin-bottom: 25px;
}
.footer_warper .footer_social_media_icon{
  padding-right:30px;
  color:var(--text-white);
  font-size: 20px;
}
.footer_warper .footer_credits{
  color:var(--text-white);
  border-top:1px solid var(--text-white);
  padding-top:20px;
  margin-top:30px;
}
.footer_warper .footer_credits a{
  color:var(--text-yellow);
  text-decoration:none;
  font-size: 16px;
  font-weight: 600;
}
